html {
  box-sizing: border-box;
}

*,
::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("../public/Images/landscapecalc.png");
  background-size: cover;
  background-repeat:no-repeat;
  }